<div>
  <form #form="ngForm" (ngSubmit)="submit()" autocomplete="off" *ngIf="!inProgress">
    <div class="form-group">
      <label>Title </label>
      <input
        #title="ngModel"
        name="title"
        class="form-control"
        type="text"
        [(ngModel)]="data.title"
        required
        minlength="4"
      >
      <div class="error-msg" *ngIf="title.invalid && title.touched">
        <span *ngIf="title.errors.required">Required field</span>
        <span *ngIf="title.errors.minlength">Min length 4</span>
      </div>
    </div>

    <div class="form-group">
      <label>Content </label>
      <textarea
        #content="ngModel"
        name="content"
        class="form-control"
        [(ngModel)]="data.content"
        required
        minlength="4"
      ></textarea>
      <div class="error-msg" *ngIf="content.invalid && content.touched">
        <span *ngIf="content.errors.required">Required field</span>
        <span *ngIf="content.errors.minlength">Min length 4</span>
      </div>
    </div>


    <div class="form-group">
      <button type="submit" [disabled]="form.invalid">Submit article</button>
    </div>

  </form>

  <div *ngIf="inProgress">Pracuji....</div>
</div>



